/** @format */

.work p {
	font-size: 1.1rem;
	color: #4b4b4d;
	line-height: 1.5;
	margin-bottom: 1rem;
}

@media (max-width: 568px) {
	.work p {
		font-size: 1rem;
	}
}

.work .head {
	background-color: #f8fbfe;
	box-shadow: 10px #00000029;
	padding: 5rem 5%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 42.813rem;
	flex-wrap: wrap;
}

@media (min-width: 768px) {
	.work .head {
		padding: 8rem 5%;
	}
}

.work .image {
	flex: 1;
	max-width: 31.25rem;
}

@media (max-width: 768px) {
	.work .head {
		display: flex;
		flex-direction: column;
	}

	.work .content {
		padding: 2rem 0;
		padding-top: 3rem;
	}
}

.work .content {
	flex: 1;
	max-width: 31.25rem;
}

.work .content h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
	color: #4b4b4d;
}

@media (max-width: 768px) {
	.work .content h2 {
		font-size: 2rem;
	}
}

.work .feet {
	height: 54.375rem;
	object-fit: cover;
}

@media (max-width: 768px) {
	.work .feet {
		height: 25.375rem;
	}
}

@media (max-width: 568px) {
	.work .feet {
		height: 20.375rem;
	}
	.work .content p {
		font-size: 1rem;
	}
}

.work .work-bottom-wrap {
	padding: 5rem 5%;
	display: flex;
	min-height: 54.375rem;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: #4b4b4d;
	background: white;
	background-color: #f8fbfe;
	box-shadow: 10px #00000029;
	background: #e8e8e8;
}

.work .work-bottom-wrap .work-bottom-content {
	flex: 1;
}

.work .work-bottom-wrap .work-bottom-content .image-warper {
	padding: 2rem;
	border: 2px solid #f8fbfe;
	box-shadow: 1px 1px #00000029;
	width: 31.25rem;
	margin: 2rem 0;
}

.work .work-bottom-wrap .work-bottom-content .image-warper img {
	width: 100%;
}

.work .work-bottom-content h3 {
	margin: 0.7rem 0;
}

.work .work-bottom-content p {
	max-width: 30.5rem;
}

@media (max-width: 568px) {
	.work .work-bottom-wrap .work-bottom-content .image-warper {
		min-width: 90%;
		width: 20rem;
	}

	.work .work-bottom-content p {
		width: 80%;
	}
}

@media (min-width: 768px) {
	.image-warper-modifier {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}
